
#mainNav {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%; 
    position: absolute; 
}
#mainNav .navbar-brand {
    font-weight: bold;
    font-size: 25pt; 
}
#mainNav .navbar-collapse {
    font-size: 20pt; 
}
#mainNav a.dropdown-item {
    font-size: 16pt;}
    #main a.navbar-brand img{
        padding-bottom: 10px;}

header.masthead{
    background-color: crimson;
    background-repeat: no-repeat center center;
    background-attachment: scroll;
    margin-bottom: 50px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    header.masthead .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #212529;
        opacity: 0.5; }
    header.masthead .site-heading {
        padding-top: 100px;
        color: white; }
    header.masthead h1 {
        padding-bottom: 15px;
    }

.post p {
    font-size: 15pt;
}